[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=BMirror
Exec=/usr/bin/single-instance /opt/BMirror/bin/BMirror
Icon=/usr/share/icons/hicolor/80x80/apps/BMirror80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
